.center-text {
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  background:white;
  pointer-events: none;
  border-radius: 5px;
}

div.stuff {
  font-size: 1em;
  font-weight: normal;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

input {
  box-shadow: 0 0 2px #000;
  width: 200px;
}

button {
  background-color: #2e0b0b;
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

#chart {
  position: relative;
}

#graphbox {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}
