.center-text {
  text-align: center;
}

div.stuff {
  font-size: 1em;
  font-weight: normal;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

input {
  box-shadow: 0 0 2px #000;
  width: 40px;
}

button {
  background-color: #2e0b0b;
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}
