<!DOCTYPE html>
<head>
  <%= javascript_include_tag 'doubletheremin/doubletheremin', 'jquery.min' %>
  <%= stylesheet_link_tag 'doubletheremin/doubletheremin', media: 'all' %>
</head>
<body>
  <h1>DOUBLE MOUSE THEREMIN</h1>
  <h4>By Matthew Billie</h4>
  <div class="theremin-y">
  </div>
  <div class="theremin-x">
  </div>
</body>
