
<div class="row top-padding">
  <div class="col-full">
    <div class="project-list top-margin">
      <ul class="projects">
        <li><a href="/artistdata">ArtistData</a></li>
        <li><a href="/counterpoint">CounterPoint</a></li>
        <li><a href="/tonebox">The Tone Box</a></li>
        <li><a href="/doubletheremin">The Double Theremin</a></li>
        <li><a href="http://geogamer.herokuapp.com" target="_blank">GeoGamer</a></li>
        <li><a href="http://trash-talking-pong.herokuapp.com" target="_blank">Trash Talking Pong</a></li>
      </ul>
    </div>
  </div>
</div>
