body {
  font-family: courier;
  margin: 0;
  background-color: #c69898;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
}

.center-text {
  text-align: center;
}

.span-title {
  background-color: rgb(0, 111, 36);
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-shadow: 4px 4px #000000;
  box-shadow: 4px 4px #000000;
}

h4 a {
  text-decoration: none;
  color: #fff;
}

.span-by {
  background-color: rgb(0, 111, 36);
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-shadow: 2px 2px #000000;
  box-shadow: 4px 4px #000000;
}

.theremin-x:after {
  background-color: #262626;
  -moz-box-shadow:    inset 0 0 50px 20px #000000;
  -webkit-box-shadow: inset 0 0 50px 20px #000000;
  box-shadow:         inset 0 0 50px 20px #000000;
  border: 1px solid rgb(34, 34, 34);
  content: '';
  overflow: visible;
  height: 120%;
  margin-left: 45%;
  margin-right: 45%;
  position: fixed;
  border-radius: 40%;
  right: 0;
  top: 200px;
  width: 10%;
}

.theremin-y:after {
  background-color: #262626;
  -moz-box-shadow:    inset 0 0 50px 20px #000000;
  -webkit-box-shadow: inset 0 0 50px 20px #000000;
  box-shadow:         inset 0 0 50px 20px #000000;
  border: 1px solid rgb(34, 34, 34);
  content: '';
  overflow: visible;
  height: 10%;
  margin-top: 45%;
  margin-bottom: 45%;
  position: fixed;
  border-radius: 40%;
  right: 200px;
  top: -150px;
  width: 120%;
  margin-right: 10%;
}
