<div class="row top-margin">
  <div class="col-full">
    <p>
      Hi! I'm a web developer living in New York City. Well, I like in Brooklyn technically. I have a background in classical music, and made a career change to programming about six months ago when I decided to attend the Flatiron School. This website is a work in progress intended to show some of my work and projects. Thanks for visiting!
    </p>
  </div>
</div>
