

<div class="row top-margin">
  <div class="col-full">
    <p>
      Welcome! My name is Matthew Billie. I am a developer in the NYC area that recently graduated from the Flatiron School.
      This page is a collection of projects and blogs I've made. Hope you enjoy!
    </p>
  </div>
</div>
