

<div class="row top-margin">
  <div class="col-full">
    <p>
      Welcome! This site is a collection of projects I've made over the past few months. Most are just fun, one page apps. Others are more extensive. All the code was written by myself, with the except of jquery and the d3 library. Hope you enjoy!
    </p>
    <p>
      -Matthew
    </p>
  </div>
</div>
